/cmds/test
/pkg/test
/.idea
*.sw[pqo]
main
/ecrplugin
/cmds/ecrplugin/ecrplugin
/ocm
/demoplugin
/cmds/demoplugin/demoplugin
/helminstaller
/cmds/helminstaller/helminstaller
/dist
/tmp
local
.vscode
/cmds/test/generics
/gen
bin/
*.go.grc.bk
go.mod.bak
dist/
